<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.pojo.Order">
        <id property="id" column="id"/>
        <result property="custId" column="cust_id"/>
        <result property="itemId" column="item_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="state" column="state"/>
        <result property="pay" column="pay"/>
        <result property="payMoney" column="pay_money"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,cust_id,item_id,order_date,state,pay,
        pay_money
    </sql>
    <!-- 顶级sql统计客户历史消费总额 -->
    <select id="queryCountHisDataMapper" resultType="com.example.demo.dto.HisData">
        select cust_id custId, sum(pay_money) hisTotal
        from t_order
        group by cust_id
    </select>
    <select id="queryOrderListMapper" resultType="com.example.demo.pojo.Order">
        select ord.*,customer.cust_name custName,
        item.item_name itemName from t_customer customer
        inner join t_order ord on customer.id=ord.cust_id
        inner join t_item item on item.id=ord.item_id
        <where>
            <if test="id!=null">
                ord.id=#{id}
            </if>
            <if test="state!=null and state!=''">
                and state=#{state}
            </if>
            <if test="custName!=null and custName!=''">
                and cust_name=#{custName}
            </if>
            <if test="itemName!=null and itemName!=''">
                and item_name=#{itemName}
            </if>
        </where>
    </select>
    <!--定义sql统计年份-->
    <select id="querySellYearMapper" resultType="java.lang.Integer">
        select distinct year(order_date)
        from t_order
    </select>

    <!--统计某年12个月销售额-->
    <select id="countSellMonthMapper" resultType="com.example.demo.dto.SellResult"
            parameterType="java.lang.String">
        select month(order_date) mth, sum(pay_money) mny
        from t_order
        where year(order_date) = #{year}
        group by mth
        order by mth
    </select>
    <!--实现某年12个月，每个月销售量的统计-->
    <select id="countSellNumMapper" resultType="com.example.demo.dto.SellResult">
        select month(order_date) mth, sum(num) mny
        from t_order
        where year(order_date) = #{year}
        group by mth
        order by mth
    </select>
</mapper>
