<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReplayMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.pojo.Replay">
            <id property="id" column="id" />
            <result property="content" column="content" />
            <result property="redate" column="redate" />
            <result property="score" column="score" />
            <result property="quesId" column="ques_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,content,redate,score,ques_id
    </sql>
</mapper>
