<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.pojo.User">
        <id property="id" column="id"/>
        <result property="uname" column="uname"/>
        <result property="upwd" column="upwd"/>
        <result property="phone" column="phone"/>
        <result property="edu" column="edu"/>
        <result property="age" column="age"/>
        <result property="title" column="title"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,uname,upwd,phone,edu,age,
        title
    </sql>

    <!--定义sql保存用户信息
        保存数据，数据库id自增，保存数据完成后产生的自增的id，封装到方法传入的
        user参数的id属性
    -->
    <insert id="saveUserMapper" parameterType="com.example.demo.pojo.User"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        values (null, #{uname}, #{upwd}, #{phone},
                #{edu}, #{age}, #{title})
    </insert>

</mapper>
